# ignore data files
data
# ignore experiment model
exp
# ignore experiment log files
log
log*
# ignore experiment output or results
output
results
# ignore bash dir
bash 


# ignore bash scripts
*.sh
*.png
*.pid
*.pos
*.log

# ignore intermediate files
*.c
*.o
*.so
build

# ignore hidden files
.*

# ignore pycache
__pycache__

# ignore vscode
.vscode

# ignore saved model
*.pkl
*.pt

# ignore EVALB
EVALB
