# ignore data files
data
*.png
*.pid
*.pos

# ignore experiment model
exp
*.pkl
*.pt

# ignore experiment log files
log
*.log

# ignore experiment output or results
output
results

# ignore intermediate files
*.c
*.o
*.so
build

# ignore pycache
__pycache__

# ignore vscode
.vscode


