# ignore data files
data

# ignore bash scripts
*.sh
*.png
*.pid
*.pos
*.log

# ignore intermediate files
*.c
*.o
*.so
build

# ignore hidden files
.*

# ignore experimental results
exp
results
test

# ignore log files
log*

# ignore pycache
__pycache__

# ignore saved model
*.pkl
*.pt

# ignore vscode
.vscode

# ignore EVALB
EVALB